.farm-tab {
    padding: 22px;
    background-color: green;
}
.farm-tab-container {
    width: 100%;
    background-color: #fff;
    padding: 18px 28px; 
}

.mb-3 {
    margin-top: 32px;
    color: green;
}

