.admin-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  
  .admin-home > div {
    border: 1px solid black;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .admin-home > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  
.expect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  
 
  

.map {
    height: 302px;
    width: 100%;
    
}
.head{
    width: 100%;
}

.pie{
    border: '1px solid black'
}

.farm-schedule{
    width: 100%;

}
  
  
.expect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  
 
  

.map {
    height: 302px;
    width: 100%;
    
}
.head{
    width: 100%;
}

.pie{
    border: '1px solid black'
}

.farm-schedule{
    width: 100%;

}