.dashboard{
   background-color: white;
   font-family: "Trirong", serif;
}

.nav-link {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.d-flex .btn {
    height: 52px;
    font-size: 1.4rem;
    margin-right: 24px;
    margin-left: 42px;
    padding: 0 42px;
}

.dash-title, .dash-title-two {
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 5em;
    -webkit-text-stroke: 2px orange;
}

.pineapple-image {
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    font-weight: 700;
}

.about {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
}
.about-col-one {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.about-text {
    font-size: 1.7rem;
    text-align: center;
}

.about-col-one .btn {
    width: 430px;
    font-size: 1.8rem;
    padding: 8px 6px;
    border-radius: 12px;
}

.about-pinya-img {
    width: 780px;
    height: auto;
}

.screenshot{
    width: 100%;
    /* background-color: '#07da63'; */
    padding: 22px;
}

.agency-sec {
    width: 100%;
    background-color: white;
    padding: 22px;
}

.screenshot span, .contact span,
.agency-sec span ,.about span{
    color: orange;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
   
}

.agencies {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 32px 8px;
}

.agency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 18px;
    padding: 32px 32px;
    margin-top: 24px;
}

.agency img {
    width: 180px;
    height: auto;
}

.agency span {
    color: orange;
    font-size: 1.6rem;
    font-weight: 600px;
    margin-top: 32px;
}



.contact-sec {
    width: 100%;
    background-color: white;
    padding: 22px;
}

.screenshot span, .contact span,
.contact-sec span {
    color: orange;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 32px 8px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E3E55A;
    align-items: center;
    
    border-radius: 18px;
    padding: 32px 32px;
    margin-top: 24px;
}

.contact img {
    width: 200px;
    height: auto;
}

.contact span {
    
    font-size: 1.6rem;
    font-weight: 600px;
    margin-top: 32px;
}

image {
    width: 300px;
    height: 300;
}