.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfffeb;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }
  