.vegetation {
    background-color: #46bfff !important;
}

.flowering {
    background-color: #ffbb54 !important;
}

.fruiting {
    background-color: #717eee !important;
}
.activity {
    background-color: #ff7784 !important;
}