.pagtatanim {
    background-color: #00FFC3 !important;
    color: #000;
}

.nagbubunga {
    background-color: #FFC300 !important;
    color: #000;
}

.namumulaklak {
    background-color: #C300FF !important;
}