.vegetative {
    background-color: green !important;
}

.flowering {
    background-color: #ebf74d !important;
}

.fruiting {
    background-color: orange !important;
}
.activity {
    background-color: #ff7784 !important;
}