@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
  font-family: 'Work Sans', sans-serif !important;
}
/* Default styles for all screen sizes */
.container {
  width: 100%;
  max-width: 1200px; /* Example maximum width */
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for medium-sized screens (tablets) */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

/* Styles for large screens (desktops) */
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}
